# сгенерировал командой openssl rand -base64 32
jwt-secret: ceLmqhqu0sEppkH4WAfaFj1J+DJrthRpo2EkV8N/0X8=
#logging.level.com.security.TryingToMakeCorrectRealizationOfJWT=DEBUG
#logging.level.com.security.TryingToMakeCorrectRealizationOfJWT.jwt=TRACE

spring:
  application:
    name: TryingToMakeCorrectRealizationOfJWT
  datasource:
    url: jdbc:h2:mem:testdb
    driver-class-name: org.h2.Driver
    username: root
    password:
  h2:
    console:
      enabled: true
      path: /h2-console
      settings:
        web-allow-others: true
  jpa:
    database-platform: org.hibernate.dialect.H2Dialect
    hibernate:
      ddl-auto: update
    show-sql: true  # Показывать SQL в логах (для разработки)
    properties:
      hibernate:
        format_sql: true  # Форматировать SQL в логах